#main {
  float: right;
  width: 640px;
  padding: 30px;
  background: #fff;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

#main.main2 {
  float: none;
  width: 640px;
  margin: 0 auto;
  padding: 30px;
}

#main a {
  color: #0000ff;
}

@media screen and (max-width:600px) {

  #main,
  #main.main2 {
    float: none;
    width: auto;
    padding: 3.15%;
    margin: 0 2% 20px;
  }
}
